{{ define "content" }}

<h2 class="mb-4">Detail Campaign</h2>

<div class="card mb-4">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" disabled class="form-control" value="{{ .Name }}">
            </div>

            <div class="form-group">
                <label for="short_description">Short Description</label>
                <input type="text" name="short_description" disabled class="form-control"
                    value="{{ .ShortDescription }}">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" cols="30" rows="10" disabled
                    class="form-control">{{ .Description }}</textarea>
            </div>

            <div class="form-group">
                <label for="goal_amount">Goal Amount</label>
                <input type="text" name="goal_amount" disabled class="form-control" value="{{ .GoalAmountFormatIDR }}">
            </div>

            <div class="form-group">
                <label for="goal_amount">Backer Count</label>
                <input type="text" name="backer_count" disabled class="form-control" value="{{ .BackerCount }}">
            </div>

            <div class="form-group">
                <label for="goal_amount">Current Amount</label>
                <input type="text" name="current_amount" disabled class="form-control"
                    value="{{ .CurrentAmountFormatIDR }}">
            </div>

            <div class="form-group">
                <label for="perks">Perks</label>
                <input type="text" name="perks" disabled class="form-control" value="{{ .Perks }}">
            </div>
        </form>
    </div>
</div>

{{ end }}